<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300' rel='stylesheet' type='text/css'>
	<script src="/javascripts/ct.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>CourseTackle</title>

    <header>
    <% include partials/header.ejs %>
</header>

<body>
	<div class="container">
    	<% include partials/left_panel.ejs %>
		<div id="courses" class="main">
			<h4>courses</h4>
			<span id="taken" class="post">
				<text id="add_course_taken" class="add" onclick="courses()">+</text>
		</div>
	</div>
	<div id="courses_taken">
		<span id='close_courses'><button onclick="close_courses()">x</button></span>
		<br>Please enter information about your course<br><br>
	<form id="change_settings" action="course" method="post">
		</span>
    subject:
		<span id="">
			<input type="password" name="password" onclick="this.focus();this.select()"/>
		</span>
    course name:
		<span id="">
			<input type="text" name="firstName" onclick="this.focus();this.select()"/>
		</span>
    course code:
		<span id="">
			<input type="text" name="lastName" onclick="this.focus();this.select()"/>
		</span>
	description:
		<span id="">
			<input type="text" name="lastName" onclick="this.focus();this.select()"/>
		</span>
		<br><br>
		<span id="confirm">
			<button id="confirm_settings">Confirm</button>
			<br><Br><br>
		</span>
		</form>
	</div>
</body>

<footer>
    <% include partials/footer.ejs %>
</footer>
</html>

