<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300' rel='stylesheet' type='text/css'>
	<script src="/javascripts/ct.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Course News Feed</title>
</head>

<header>
    <% include partials/header.ejs %>
</header>
<body>
	<div class="container">
    <% include partials/left_panel.ejs %>
		<div id="results_page" class="main">
			<h4>results</h4>
			<span class="result post">
				  <% if (name) { %>
				  <%= name.local.username %>
				  <% }%>
			</span>
			<span class="result post">
				
			</span>
		</div>
	</div>
</body>
<footer>
    <% include partials/footer.ejs %>
</footer>
</html>